
.container{
    background-image: url("https://picsum.photos/1600/900");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height:92.5vh;

    .main{
        border: 2px solid white;
        border-radius: 50%;
        margin-top: 7rem;
        width: 38rem;
        height:38rem;
        display: inline-block;
        justify-content: center;
        padding: 3rem;
        background-color: #30A8B6;
        opacity: 0.7;
       
    img{
        width: 10rem;
    
    }
    h1{
        color: white;
        font-size: 3.5rem;
        font-variant: small-caps;
        font-family: 'Girassol', cursive;
        font-weight: 600;
        opacity: 1;
      }  
    }
}

.login{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
}

.name{
    width: 15rem;
    margin: 0.8rem;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 1.5rem;
    font-family: 'Girassol', cursive;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.buton{
    width: 15rem;
    margin: 1rem;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-family: 'Girassol', cursive;
    font-variant: small-caps;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
}


