h1{
    font-size: 3.5rem;
    margin-top: 2rem;
}

body{
    background-color: #00ADB5;
}

.recipe_box{
//  border: 1px solid black;
margin-top: 3rem;
 display: grid;
 grid-template-columns: repeat(5,1fr);
 grid-template-rows: repeat(2,1fr);
 gap: 3rem;
 padding: 10px;

}

.recipe_card{
display: flex;
flex-direction: column;
border: 1px solid white;
background-color: antiquewhite;
border-radius: 10px;
box-shadow: 5px 5px gray;
  button{
      margin-top: 10px;
      background-color: rgb(112, 181, 57);
      font-weight: 600;
      color: aliceblue;
      border-radius: 10px;
      &:hover{
          background-color: brown;
          font-size: larger;
      }
  }

  img{
     width: 20rem; 
    margin: 10px auto;
  }

}

