*{
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 7.5vh ;
    background-color: #E1F1DD;
    padding: 1rem;
    a{
        text-decoration: none;
        font-family: 'Girassol', cursive;
        font-size: 2.5rem;
        color: #201e47;
        font-variant: small-caps;

        &:hover{
            font-weight: bold;
            color: #2BBAC7;
        }
    }
}
span{
    color: #2BBAC7;
}
.span{
    color: #201e47;
    font-style: italic;
}



.home{
    display: flex;
    justify-content: space-between ;
    
}

.about_login{
    display: flex;
    justify-content:space-between;
    width: 400px;
}

