.title{
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    margin-top: 1rem;
    
    
}

.genel{
    text-align: center;
    align-items: center;
}

.card_box{
    background-color:#E1F1DD ;
    // width: 60rem;
    display: inline-block;
    border: 1px solid white;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 5px 5px grey;
    img{
        border-radius: 10px;
        margin: 10px;
        box-shadow: 5px 5px grey;
    }
    
}

.text{
    line-height: 50px;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10px;
}



