.title{
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    margin-top: 1rem;

    
}

.genel{
    text-align: center;
}

.card_box{
    background-color:#E1F1DD ;
    width: 60rem;
    text-align: center;
}

.text{
    line-height: 50px;
    font-size: 2rem;
    text-align: center;
}



